body{font-size:17px;font-weight:bold;background:#ffffcc;line-height:33px;}
a{background:#ffff99;margin:6px;padding:6px;display: inline-block;}
a:link{text-decoration:none;color:#000000;}
a:visited{text-decoration:none;color:#000000;background:#ffff66}
a:hover{text-decoration:none;color:#000000;background:#ffcc33}

